:root {
  --primary-color: #5584AC; /* Muted Blue */
  --secondary-color: #E5F3F6; /* Dark Slate Blue */
  --accent-color: #FEEFDD; /* Warm Beige */
  --background-color: #0c233b; /* Pale Cream */
  --text-color: #0E1534; /* Muted Brown */
}


body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}

.board-cell {
  width: 40px;
  height: 40px;
  border: 1px solid #0E1534; /* Cell border */
  font-size: 20px;
  background-color: #FEEFDD;
}

.board-cell:disabled {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.board-cell-invalid {
  background-color: #FF0000;
  color: var(--secondary-color);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.rowBorder {
  border-bottom:2px solid black;
}

.columnBorder {
  border-right:2px solid black;
}