:root {
  --primary-color: #5584AC; /* Muted Blue */
  --secondary-color: #E5F3F6; /* Dark Slate Blue */
  --accent-color: #FEEFDD; /* Warm Beige */
  --background-color: #0C3159; /* Pale Cream */
  --text-color: #0E1534; /* Muted Brown */
}


body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}

.board-container {
  display: flex;
  flex-wrap: wrap;
  width: 558px; /* Example size, adjust based on your needs */
  border: 3px solid #E5F3F6; /* Outer border */
  border-radius: 5px;
  margin: auto; /* Center the grid horizontally */
}

.board-item {
  width: 60px; /* Each cell is 60px wide */
  height: 60px; /* Each cell is 60px tall */
  border: 1px solid #0E1534; /* Cell border */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px; /* Adjust based on your needs */
  font-weight: 600;
  padding-block: 0px !important;
  padding-inline: 0px !important;
  text-align:center;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.board-item:disabled {
  background-color: var(--background-color);
  color: var(--secondary-color);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
